.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.align{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 14px;
}

/* Width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222; /* Dark background color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444; /* Darker color for the handle */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter color on hover */
  }
  
  